a.nav-link{
    font-weight: bold;
    margin-left: 60px;
    text-decoration: none;
}
h1.title:hover {
    text-decoration: none!important;
}
h1.title{
    font-size: 30px;
}
nav{
    /* border-bottom: 0.2px solid rgba(172, 170, 170, 0.192); */
}
img.logo{
    width: 40px;
    height: 40px;
}
i{
    opacity: 0.2;
}


